In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data_18 = pd.read_csv('./data/18_BusanCrime.csv')
data_19 = pd.read_csv('./data/19_BusanCrime.csv')
data_20 = pd.read_csv('./data/20_BusanCrime.csv')
data_21 = pd.read_csv('./data/21_BusanCrime.csv')

In [28]:
data_18.head(15)

    연번  경찰서   구분  살인  강도   성범죄    절도    폭력
0    1   중부  경찰서   1   2    47   954   784
1    2   동래  경찰서   3   6    89  1078  1375
2    3   영도  경찰서   4   2    43   329   666
3    4   동부  경찰서   0   5    63   576   823
4    5  부산진  경찰서   1  17   321  2376  3253
5    6   서부  경찰서   3   8    32   730   282
6    7   남부  경찰서   8  10   185  1458  2091
7    8  해운대  경찰서   3   3   185  1376  1986
8    9   사상  경찰서   5   9   116  1018  1312
9   10   금정  경찰서   4   7    87   595   936
10  11   사하  경찰서   4   8   119  1062  1705
11  12   연제  경찰서   5   8    90   988  1578
12  13   강서  경찰서   2   1    46   501   499
13  14   북부  경찰서   7   3    72   805  1441
14  15   기장  경찰서   3   2    38   415   772

In [8]:
data_18.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      15 non-null     int64
 1   경찰서     15 non-null     object
 2   구분      15 non-null     object
 3   살인      15 non-null     int64
 4   강도      15 non-null     int64
 5    성범죄    15 non-null     int64
 6   절도      15 non-null     int64
 7   폭력      15 non-null     int64
dtypes: int64(6), object(2)
memory usage: 1.1+ KB

In [11]:
sum_18 = data_18.sum(axis=1)
print(sum_18)

0     1789
1     2553
2     1047
3     1471
4     5973
5     1061
6     3759
7     3561
8     2469
9     1639
10    2909
11    2681
12    1062
13    2342
14    1245
dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_4204\4247413206.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sum_18 = data_18.sum(axis=1)

In [12]:
sum_19 = data_19.sum(axis=1)
print(sum_19)

0     1594
1     2509
2     1056
3     1696
4     6062
5     1256
6     3947
7     3507
8     2581
9     2338
10    2688
11    2858
12    1049
13    2525
14    1209
dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_4204\2461856207.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sum_19 = data_19.sum(axis=1)

In [13]:
sum_20 = data_20.sum(axis=1)
print(sum_20)

0     1374
1     2453
2     1009
3     1429
4     5795
5     1069
6     3467
7     3243
8     2520
9     2017
10    2596
11    2905
12    1013
13    2568
14    1393
dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_4204\2703912801.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sum_20 = data_20.sum(axis=1)

In [14]:
sum_21 = data_21.sum(axis=1)
print(sum_21)

0     1184
1     2150
2      870
3     1176
4     5059
5     1078
6     3010
7     3007
8     2126
9     1657
10    2253
11    2394
12     949
13    2087
14    1319
dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_4204\3407518563.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sum_21 = data_21.sum(axis=1)

In [36]:
pd.DataFrame(data=data_18, index=None, columns=None, dtype=None, copy=False)

In [41]:
total_data

    경찰서   성범죄    절도    폭력
0    중부    47   954   784
1    동래    89  1078  1375
2    영도    43   329   666
3    동부    63   576   823
4   부산진   321  2376  3253
5    서부    32   730   282
6    남부   185  1458  2091
7   해운대   185  1376  1986
8    사상   116  1018  1312
9    금정    87   595   936
10   사하   119  1062  1705
11   연제    90   988  1578
12   강서    46   501   499
13   북부    72   805  1441
14   기장    38   415   772

In [42]:
del total_data['연번']
del total_data['구분']
del total_data['살인']
del total_data['강도']

KeyError: '연번'

In [45]:
total_data.insert(0,'총합계')

TypeError: DataFrame.insert() missing 1 required positional argument: 'value'

In [43]:
del total_data['성범죄']
del total_data['절도']
del total_data['폭력']

KeyError: '성범죄'

In [34]:
total_data.insert(0,'관서명1',data_19['경찰서'])

In [35]:
total_data.head()

  관서명1 관서명
0   중부  중부
1   동래  동래
2   영도  영도